body{
 background-color: hsl(212, 45%, 89%);
 font-family: 'Outfit', sans-serif;
}

p{
    color: hsl(220, 15%, 55%);
    font-weight: 400;
    font-size: 1rem;
    margin: 1.5rem;
}

h1{
    color: hsl(218, 44%, 22%);
    font-weight: 700;
    font-size: 1.3rem;
    margin: 1.5rem;
}

.container{
    border-radius: 3%;
    width: 19rem;
    margin: 5rem auto;
    background-color: hsl(0, 0%, 100%);
    text-align: center;
    padding-bottom: 1rem;

}

img{
    margin-top: 1rem;
    width: 17rem;   
    border-radius: 3%;
}